<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734818609080-f0fipf5eva2297frfdv4dt4uc7bgal0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734818609080-f0fipf5eva2297frfdv4dt4uc7bgal0o</string>
	<key>API_KEY</key>
	<string>AIzaSyDgGHRwxXHMb9rYW9ZA6xQGuNLwzUL-YRw</string>
	<key>GCM_SENDER_ID</key>
	<string>734818609080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoumra</string>
	<key>PROJECT_ID</key>
	<string>zoumra-database</string>
	<key>STORAGE_BUCKET</key>
	<string>zoumra-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734818609080:ios:98d656cd7d0a182c6e914d</string>
	<key>DATABASE_URL</key>
	<string>https://zoumra-database.firebaseio.com</string>
</dict>
</plist>